@import "tailwindcss";

@theme {
  /* Registramos las variables directamente en el tema de Tailwind v4 */
  --color-criollo-bg: hsl(var(--criollo-bg));
  --color-criollo-text: hsl(var(--criollo-text));
  --color-criollo-muted: hsl(var(--criollo-muted));
  --color-criollo-primary: hsl(var(--criollo-primary));
  --color-criollo-suela: hsl(var(--criollo-suela));
  --color-criollo-atardecer: hsl(var(--criollo-atardecer));
  --color-criollo-border: hsl(var(--criollo-border));
}

@layer base {
  :root {
    /* Fondo: Un crema cálido y luminoso que emula el resplandor del cielo del logo */
    --criollo-bg: 43 60% 96%;           /* #FAF6EE */
    
    /* Textos: Un marrón madera quemada muy oscuro y elegante para máxima legibilidad */
    --criollo-text: 24 25% 12%;         /* #1F1916 */
    --criollo-muted: 24 12% 42%;        /* #756862 */
    
    /* Primario: El tono óxido/terracota texturizado de las letras "Alma Criolla" */
    --criollo-primary: 18 76% 36%;      /* #A23A13 */
    
    /* Acentos: El color de la madera templada de la guitarra y el amarillo del sol */
    --criollo-suela: 22 55% 22%;        /* #562B15 */
    --criollo-atardecer: 41 98% 50%;    /* #FFAE00 */
    
    /* Bordes sutiles orgánicos */
    --criollo-border: 40 20% 88%;       /* #EAE3D5 */
  }

  body {
    background-color: var(--color-criollo-bg);
    color: var(--color-criollo-text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}